/* -------  Layout ------- */ 
header {
  display: flex;
  flex-direction: column;
  background-color: #FFEED6;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  text-align: center;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.page-header {
  max-height: 300px;
  background: url(images/trevorjalt.png) no-repeat center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin-top: 300px;
}

main h2 {
  font-size: 2rem;
  color: #B98868;
  text-align: center;
  line-height: 2rem;
}

.header-about {
  font-size: 2rem;
  color: #905158;
  line-height: 2rem;
}

.header-portfolio {
  padding-top: 2vh;
  padding-bottom: .7vh;
  margin-right: 1.4vw;
}

.header-project {
  font-size: 1.3rem;
  color: #B98868;
}

.contact-margin {
  background-color: #DFE2CF;
  padding-top: 7vh;
  padding-bottom: 2vh;
}

main a:link    { color: #56999F; text-decoration: none; }
main a:visited { color: #3E6E72; text-decoration: none; }
main a:hover   { color: #95BBBE; text-decoration: none; }
main a:active  { color: #4F8C92; text-decoration: none; }

#brand .group.group2 img {
  max-width: 50vw
}

footer {
  font-family: 'Nunito', sans-serif;
  background-color: #95BBBE;
  text-align: center;
  box-sizing: border-box;
  padding: 35px;
}

.footer-copy {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
}

.pink-font {
  color: #DDA3B2;
}

img {
  width: 100%;
}

.bg-color {
  background-color: #DFE2CF;
  justify-content: center;
}

.bg-color2 {
  background-color: #95BBBE;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 20px 10px;
}

.group2 {
  margin-bottom: 0;
  padding-bottom: 3vh;
}
  
.item {
  flex: 1;
  margin: 10px;
  text-align: left;
}

.item-social-icon {
  flex: 1;
  margin: 10px;
  text-align: center;
}

#portfolio .item img {
  border: 2px solid #905158;
  border-radius: 20px;

}


/* Contact Page Additional Elements */

.contact-page-head {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  padding: 3vh;
  color: #905158;
}

.circle-profile {
  width: 150px;
  padding-bottom: 3vh;
}

.contact-text {
  width: 55%;
  text-align: left;
  display: inline-block;
}

.contact-form-parent {
  text-align: center;
  padding-top: 3vh;
}

.contact-form-child {
  width: 65%;
  display: inline-block;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #B98868;
  font-family: 'Nunito', sans-serif;
  text-align: left;
}

form input[type=text] {
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;  
}

form textarea {
  height: 20rem;
  width: 100%;
  color: #000;
  font-size: 18px;
  margin-bottom: 20px;
}

form button {
  padding: 10px 16px;
  border-radius: 20px;
  border: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  background: #DDA3B2;
  color: #000;;
  margin: 20px 20px 40px 20px;
}


/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

    /* Responsive Navigation Element */
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }

    header h1 {
      font-size: 3.5rem;
      padding: 2vh;
    }

    header h2 {
      color: #DFE2CF;
    }

    /* Responsive Navigation Element  */
    main {
      padding-top: 1.5vh;
    }

    /* Responsive Navigation Element  */
    header nav ul {
      padding-left: 2vw;
    }

    /* Responsive Navigation Element  */
    header nav ul li a:hover {
      color: #95BBBE;
    }
    
    section {
      padding: 0 10%;
    }
  
    .group {
      flex-direction: row;
    }

    .header-about {
      text-align: left;
    }

    .header-portfolio {
      text-align: right;
      margin-right: 1.4vw;
    }
}