@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* -------  Layout ------- */ 
header {
  display: flex;
  flex-direction: column;
  background-color: #FFEED6;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  text-align: center;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.page-header {
  max-height: 300px;
  background: url(images/trevorjalt.png) no-repeat center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  margin-top: 43vh;
  height: 50vh;
  background: #050505;
  color: #ffffff;
  font-family: 'Dancing Script', sans-serif;
  text-align: center;
  font-size: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h2 {
  padding-top: 10vh;
}

main p {
  width: 80vw;
}

main a {
  text-decoration: none;
  color: #ffffff;
}




